*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.container{
    width: 400 px;
    height: min-content;
    padding: 28px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    border-radius: 12px;
}

.search-box{
    width: 100%;
    height: min-content;
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    background-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px; 
}
.search-box input::placeholder{
    color: #000;
}

.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
}
.search-box button:hover{
    color: black;
    background-color: #ababab;
}
.search-box button img{
    width: 26px;
    margin:7px;
    margin-left: 3px;
}
.weather-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.weather-body img{
    width: 60%;
}
.weather-box{
    margin-block:20px;
    text-align: center;
    color: black;
}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.weather-box .temperature sup{
    font-size: 20px;
    font-weight: 600;
    position: absolute;
}
.weather-box .description{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.humidity, .wind{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.humidity{
    margin-left: 20px;
}
.wind{
    margin-right: 20px;
}
.wind img{
    width: 45px;
}
.weather-details{
    font-size: 36px;
}
.weather-details img{
    width: 45px;
}
.weather-details .text {
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
    color: black;
}
p{
    color: black;
}
.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-not-found h1{
    font-size: 20px;
    color: #e6f5fb;
    margin-block-end: 15px;
}
.location-not-found img{
    width:80%;

}





























